#title{
  background-image: linear-gradient(#06297D, #570F4F);
  color:#fff;
}
.big-heading{
  text-align: center;
}
h1{
  font-family:"Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding :3%  15% 7%;
}
body{
  font-family: "Montserrat";
}
/*Navigation Bar*/
.navbar{
  padding:0 0 4.5rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}

.pic{
  position: relative;

  width:240px;
  height: 200px;

}
#About{
  position:relative;

}

.a{
  background: linear-gradient(to left, #620B46 , #251D66 );
  box-shadow: 0px 4px 4px rgba(0.25, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 800px;
}
.b{
  background-color: #FFFFFF;


  box-shadow: 0px 4px 4px rgba(0.25, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);


 height: 600px;

  position: absolute;
top: 100px;
  left: 80px;
  right: 80px;

}
.bg{
   height: 100%;
  width: 100%;
  opacity: 1.0;
}
.bg:hover{
  opacity: 0.5;
}

.Title-image{
  width: 80%;
  height: auto;
  position: relative;
  left:10%;
}
.headi{
  text-align: center;
  padding-top: 10px;
}


.c{
  position: absolute;
height: 60px;
  left: 80px;
  right: 80px;
  top: 100px;
text-align: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
  text-align:center;
  font-style:normal;
  font-weight: 900;
  line-height: 15px;
  color: #000000;
}
.d{
  height: 300px;

   position: absolute;
   top: 180px;
   left: 80px;


  background: #FFFFFF;

}
.x{

    background: linear-gradient(to left, #FED8F7 10%, #C4DDFE 90%);
    box-shadow: 0px 4px 4px rgba(0.25, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 600px;
    width: 41%;
    position: absolute;
    top:225px;
    left: 150px;
    right: 150px;
}

.abc{
  background: #C4DDFE;
  position:absolute;
  bottom: 400px;
  left: 80px;
}
.y{
      background: linear-gradient(to left, #FED8F7 10%, #C4DDFE 90%);
      box-shadow: 0px 4px 4px rgba(0.25, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      height: 600px;

      position: absolute;
      top:225px;
      left: 180px;
      right: 180px;

}
.hehe{
  text-align:center;
  font-size: 2rem;
}
.hd {

  color: darkgrey;
  white-space: nowrap;
  position: relative;
  top: 25px;
  left: 50%;

  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 blue, 1px 2px 0 blue, 1px 3px 0 blue, 1px 4px 0 blue,
    1px 5px 0 blue, 1px 6px 0 blue, 1px 7px 0 blue, 1px 8px 0 blue,
    5px 13px 15px black;
}

.hd:hover {
  transition: 0.3s;
  transform: scale(1.0)translate(-50%, -50%);
  text-shadow: 1px -1px 0 purple, 1px -2px 0 purple, 1px -3px 0 purple,
    1px -4px 0 purple, 1px -5px 0 purple, 1px -6px 0 purple, 1px -7px 0 purple,
    1px -8px 0 purple, 5px -13px 15px black, 5px -13px 25px #808080;
}
.mypic{
  width: 420px;
  height: 300px;
  position: absolute;

}
.img{
  position: absolute;
  top: 120px;
  left: 50px;
}
#About{
  background-color: #ded1f0;
}
.combine{
  background-color: #FFFFFF;
  border-radius: 50px;
}
.e{

  position: relative;
  padding: 80px 140px 140px 80px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){}
.para{
  text-align: center;
  padding-top: 30px;
  letter-spacing: 0.1rem;
}}
/*
#pricing{
  text-align: center;
  padding: 100px;

}
.pricing-coloumn {
  padding:3% 2%;
}*/
#pricing{
  background-color: #E6E6FA;
  text-align: center;
  padding: 100px;

}
.pricing-coloumn {
  padding:3% 2%;
}
h1{
  font-family:"Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
.subheading{
  text-align: center;
}
.price-text{
  text-align: center;
}
.section-heading{
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.img{
  height: 600px;
  width: 500px;
}
.d{
  background-image: url("C:\Users\hp\OneDrive\Desktop\web Development\PORTFOLIO\image\adpic1.jpeg");
     height: 400px;
     width: 100%;
}
#pricing{
  background-color: #E6E6FA;
  text-align: center;
  padding: 100px;

}
.pricing-coloumn {
  padding:3% 2%;
}
h1{
  font-family:"Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
.subheading{
  text-align: center;
}
.price-text{
  text-align: center;
}
.section-heading{
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.btn:hover{
  background-color:#002ead;
     transition: 0.7s;
}
.card:hover{
  background-color:#570F4F;
}

#Aboutme{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 300% auto;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
#skills{
  background-color:##CCCCFF;
  height: 800px;

}

/*.card{
  background-image: linear-gradient(#bd98e0, #f3c6f2);
  position: relative;
  top: 200px;

}
.card-body{
  position: relative;
  text-align: center;
}*/
.combine{
  position: relative;

width: 70%;
  top: 100px;
  left: 210px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
  text-align:center;
  font-style:normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 8px;
  color: #000000;
}

#footer{
  background-color:#CCCCFF;
padding: 30px   20px;
  text-align:center;

}
#Connect{
    background-image: linear-gradient(#bd98e0, #f3c6f2);
    text-align: center;
    padding: 10px 10px 10px 10px;

}
.h2connect{

  font-size: 3.5rem;
    font-family:"Montserrat",sans-serif;
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
}
.h3connect{
  color: #11999E
    font-family:"Montserrat",sans-serif;
    text-align: center;
    padding: 10px 5px 5px 10px;
}
.btn{
  padding: 10px 15px 15px 10px;
}
.bottom-container{
  padding-top: 80px;
  text-align: center;
  padding-bottom: 20px;


}
.contact-me{
  padding: 10px  10px
}
#footer{
  background-color: #CCCCFF;;
}
.footer-link{
  padding: 20px 20px 20px 20px;
}
#footer{
  padding:7% 15%;
  text-align:center;

}

@media (max-width :1028px) {
  #Aboutme {
    text-align: center;
  }
  .Title-image{
    width: 60%;

    position:static;
    border-bottom : 10px;
    transform: rotate(0);
  }

.pricing-coloumn {
  text-align: center;
}
.para{
  position: relative;
  top: 20px;
}
.h3connect{
  padding-bottom: 20px;
}
.shades{
  background-color: linear-gradient(to left, #ee9ca7 , #ffdde1 );
  text-align: center;

}
@media only (max-width: 1100px)
.content {
    width: 100%;
    height: 100%;
}
@media only (max-width: 1100px)
.c{
    width: 100%;
    height: 100%;
}
@media only (max-width: 1100px)
.hd {
    width: 100%;
    height: 200%;
}
@media only (max-width: 1100px)
.bg {
    width: 100%;
    height: 100%;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
.div2 {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 80px;
    right: 80px;
    animation: mymove 5s infinite;
    animation-timing-function: ease;


}
   @media (max-width: 1040px){
  .b{
    height: 60%;
    width: 67%;
  }
  
}
